<nav class="navbar navbar-expand-lg header" style="margin-bottom:50px">
    <a class="navbar-brand" href="/">BlogIt</a>
    <span class="navbar-brand" th:if="${blogTitle != null}" th:text="${blogTitle}"></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <span th:if="${user != null}">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/myblogs">My Blogs</a>
                    </li>
                    <span th:if="${user.role == 'admin'}">
                        <li class="nav-item">
                            <a href="/users">User Management</a>
                        </li>
                    </span>
                </ul>
            </span>
        </div>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <span th:if="${user == null}">
                    <a class="btn btn-primary" href="/login">Login</a>
                </span>
                <span th:if="${user != null}">
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </span>
            </li>
        </ul>
    </div>
</nav>
