<div th:replace="content/header.html"></div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Employees</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.name}"></td>
                <td th:text="${department.count}"></td>
                <td><a class="btn btn-primary" th:href="@{/department(id=${department.id})}">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="content/footer.html"></div>
