<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>
    <body>
        <div th:replace="common/menu.html"></div>
        
        <div class="container">
            <div th:if="${user != null && blog.username == user.username}">
                <div class="row">
                    <a class="btn btn-primary" th:href="@{/createPost(id=${blog.id})}">New Post</a>
                </div>
            </div>
            <div style="border-bottom:1px solid #000" th:each="post : ${posts}">
                <div class="row">
                    <h3 th:text="${post.title}"></h3>
                </div>
                <div class="row">
                    <p th:text="${#dates.format(post.created, 'MMMMM dd, YYYY')}"></p>
                </div>
                <div class="row">
                    <p th:text="${post.content}"></p>
                </div>
                <div class="row">
                    <p><a th:href="@{/post(id=${post.id})}">Read More &gt;</a></p>
                </div>
            </div>
        </div>

        <div th:replace="common/footer.html"></div>
    </body>
</html>