<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>
    <body>
        <div th:replace="common/menu.html"></div>
        
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center;">Available Blogs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="blog : ${blogs}">
                        <td style="text-align:center;"><a th:href="@{/blog(id=${blog.id})}" th:text="${blog.title}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div th:replace="common/footer.html"></div>
    </body>
</html>