<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>
    <body>
        <div th:replace="common/menu.html"></div>
        
        <div class="container">
            <span th:if="error != null">
                <div class="row">
                    <p style="color:red;font-weight:bold;" th:text="${error}"></p>
                </div>
            </span>
            <form method="POST" action="/login">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"><label for="username">Username:</label></div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"><input type="text" name="username"></div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"><label for="password">Password:</label></div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"><input type="password" name="password"></div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"><button type="submit" class="btn btn-primary">Login</button></div>
                    <div class="col-lg-4"></div>
                </div>
            </form>
        </div>


        <div th:replace="common/footer.html"></div>
    </body>
</html>