<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>
    <body>
        <div th:replace="common/menu.html"></div>
        
        <div class="container">
            <div>
                <div class="row">
                    <h3 th:text="${post.title}"></h3>
                </div>
                <div class="row">
                    <p th:text="${#dates.format(post.created, 'MMMMM dd, YYYY')}"></p>
                </div>
                <div class="row">
                    <p th:text="${content}"></p>
                </div>
                <div class="row" style="border-top:1px solid #000; border-bottom:1px solid #000">
                    <h4>COMMENTS (<span th:text="${number_comments}"></span>)</h4>
                </div>`
                <form method="POST" action="/comment">
                    <input type="hidden" name="postId" th:value="${post.id}">
                    <div class="row">
                        <div class="col-lg-3">Name:</div>
                        <div class="col-lg-9"><input type="text" name="name" class="form-control"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">Message:</div>
                        <div class="col-lg-9"><textarea name="message" class="form-control"></textarea></div>
                    </div>
                    <div class="row" style="border-bottom:1px solid #000">
                        <div class="col-lg-12" style="text-align:right;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <div style="border-bottom:1px solid #000" th:each="comment : ${comments}">
                    <div class="row">
                        <div class="col-lg-3" th:text="${comment.name}"></div>
                        <div class="col-lg-9" th:text="${comment.message}"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9" th:text="${#dates.format(comment.created, 'MMMMM dd, YYYY')}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="common/footer.html"></div>
    </body>
</html>